a.lv-item(href="",
          esn-modal-launcher='/calendar/app/settings/import/calendar-import.html',
          controller-as='$ctrl',
          controller='CalCalendarImportController')
  li {{ 'Import' | translate }}