.cal-blue-bar

  .cal-blue-bar-minical-container
    .cal-blue-bar-minical
      .cal-blue-bar-minical-month {{ ($ctrl.event.start | amDateFormat:'MMM') || '-' }}
      .cal-blue-bar-minical-date {{ ($ctrl.event.start | amDateFormat:'DD') || '-' }}
      .cal-blue-bar-minical-day {{ ($ctrl.event.start | amDateFormat:'ddd') || '-' }}
    .cal-blue-bar-minical-overlay(ng-if="!$ctrl.event")
      .cal-blue-bar-overlay-loading(ng-if="!$ctrl.meeting.loaded")
        i.cal-blue-bar-overlay-icon.mdi.mdi-sync.rotate
      i.cal-blue-bar-overlay-icon.mdi.mdi-alert-circle.text-danger(ng-if="$ctrl.meeting.error")
      i.cal-blue-bar-overlay-icon.mdi.mdi-help-circle(ng-if="$ctrl.meeting.invalid")

  .cal-blue-bar-content
    .cal-blue-bar-message(ng-if="!$ctrl.event")
      .cal-blue-bar-message-error.text-danger(ng-if="$ctrl.meeting.error") {{ 'An error occured while processing meeting information contained in this message.' | translate }}
      .cal-blue-bar-message-error(ng-if="$ctrl.meeting.invalid") {{ 'Some meeting information contained in this message cannot be processed.' | translate }}
      .cal-blue-bar-message-info(ng-if="!$ctrl.meeting.loaded") {{ 'This message contains some meeting information. Please wait while we fetch the event details...' | translate }}

    .cal-blue-bar-info-and-actions.ellipsis(ng-if="$ctrl.event")
      .cal-blue-bar-info
        .cal-blue-bar-summary.ellipsis {{ $ctrl.event.summary }}
        .cal-blue-bar-location.cal-blue-bar-labelled-value.ellipsis(ng-if="$ctrl.event.location")
          i.cal-blue-bar-label.mdi.mdi-map-marker
          span.cal-blue-bar-value(ng-bind-html="$ctrl.event.location | linky:'_blank'")
        .cal-blue-bar-date.cal-blue-bar-labelled-value.ellipsis
          i.cal-blue-bar-label.mdi.mdi-clock
          span.cal-blue-bar-value {{ $ctrl.event.start | amDateFormat:'lll' }} ({{ $ctrl.event.end | amDifference:$ctrl.event.start:'hours':true }}h)
        .cal-blue-bar-recurrence.cal-blue-bar-labelled-value.ellipsis(ng-if="$ctrl.event.isRecurring()")
          i.cal-blue-bar-label.mdi.mdi-sync
          span.cal-blue-bar-value {{ 'Recurs %s' | translate:$ctrl.event.getRecurrenceType() | lowercase }}

      .cal-blue-bar-actions-container.cal-blue-bar-labelled-value(ng-if="$ctrl.isActionable()")
        cal-partstat-buttons(event="$ctrl.event", on-participation-change-success="$ctrl.onPartstatChangeSuccess(event)", on-participation-change-error="$ctrl.onPartstatChangeError(err)", show-date-suggestion="$ctrl.showDateSuggestionWindow()")

      .cal-blue-bar-videoconference(ng-if="$ctrl.event.xOpenpaasVideoconference")
        div(dynamic-directive="calendar-videoconference-bluebar")

      .cal-blue-bar-actions-container.cal-blue-bar-labelled-value(ng-if="$ctrl.replyAttendee")
        .cal-blue-bar-action-icon.cal-blue-bar-label.replypartstat(ng-switch="$ctrl.replyAttendee.partstat")
          .accepted(ng-switch-when="ACCEPTED")
            i.mdi.mdi-check
            a(ng-href="mailto:{{ $ctrl.replyAttendee.email }}", op-inbox-compose op-inbox-compose-users="[$ctrl.replyAttendee]") {{ '%s has accepted this event' | translate:$ctrl.replyAttendee.displayName || $ctrl.replyAttendee.email }}
          .tentative(ng-switch-when="TENTATIVE")
            i.tentative.mdi.mdi-help
            a(ng-href="mailto:{{ $ctrl.replyAttendee.email }}", op-inbox-compose op-inbox-compose-users="[$ctrl.replyAttendee]") {{ '%s has tentatively accepted this event' | translate:$ctrl.replyAttendee.displayName || $ctrl.replyAttendee.email }}
          .declined(ng-switch-when="DECLINED")
            i.declined.mdi.mdi-close
            a(ng-href="mailto:{{ $ctrl.replyAttendee.email }}", op-inbox-compose op-inbox-compose-users="[$ctrl.replyAttendee]") {{ '%s has declined this event' | translate:$ctrl.replyAttendee.displayName || $ctrl.replyAttendee.email }}

      .cal-blue-bar-actions-container.cal-blue-bar-labelled-value(ng-if="$ctrl.meeting.method === $ctrl.CAL_EVENT_METHOD.CANCEL")
        .cal-blue-bar-action-icon.cal-blue-bar-label
          i.text-danger.mdi.mdi-calendar-remove
        .cal-blue-bar-value {{ 'This event has been cancelled' | translate }}

    .cal-blue-bar-info-and-actions.ellipsis(ng-if="$ctrl.event && $ctrl.additionalEvent && $ctrl.meeting.method === $ctrl.CAL_EVENT_METHOD.COUNTER")
      cal-event-date-suggestion-summary(event="$ctrl.additionalEvent", user="$ctrl.replyAttendee")

    .cal-blue-bar-info-and-actions.ellipsis(ng-if="$ctrl.event")
      .cal-blue-bar-value
        a(href="", ng-click="$ctrl.openEvent()") {{ 'Event details' | translate }}
