.cal-settings-calendars
  .calendar-list
    .title
      h3 {{ 'My calendars' | translate }}
    .list
      cal-settings-calendars-item(ng-repeat="calendar in ctrl.userCalendars", calendar="calendar", on-remove="ctrl.remove", display-owner="false", state-to-go="'calendar.main.edit'")

  .calendar-list(feature-flag="linagora.esn.calendar.features.isSharingCalendarEnabled")
    .title
      h3 {{ 'Shared calendars' | translate }}
    .list
      p.no-shared-calendar(ng-if="!(ctrl.sharedCalendars.length + ctrl.publicCalendars.length)") {{ 'You have no shared calendars' | translate }}
      cal-settings-calendars-item(ng-repeat="calendar in ctrl.sharedCalendars", calendar="calendar", on-remove="ctrl.remove", display-owner="true", state-to-go="'calendar.main.external.shared'")
      cal-settings-calendars-item(ng-repeat="calendar in ctrl.publicCalendars", calendar="calendar", on-remove="ctrl.remove", display-owner="true", state-to-go="'calendar.main.external.shared'")
