h2.delegation-section-title {{ 'Add delegated users' | translate }}

.add-delegation-users
  .user-delegation-form
    .user-autocomplete.fg-line
      users-autocomplete-input(mutable-users='$ctrl.newUsersGroups', ignored-users='$ctrl.ignoredUsers', on-adding-user='$ctrl.onAddingUser')
    .select-delegation
      md-select(ng-model='$ctrl.selectedShareeRight', md-container-class="cal-delegation-type-dropdown", md-on-open="$ctrl.changeBackdropZIndex()", aria-label="delegation type")
        md-option(ng-repeat="delegationType in $ctrl.delegationTypes" ng-value="delegationType.value") {{ delegationType.name | translate }}
    .delegation-actions
      button.btn.btn-primary(ng-click="$event.preventDefault();$ctrl.addUserGroup()") {{ 'Add' | translate }}

h2.delegation-section-title(ng-if="$ctrl.delegations.length > 0") {{ 'List of delegated users' | translate }}
.delegation-line(ng-repeat="delegation in $ctrl.delegations")
  .user
    .user-avatar(title="{{ delegation.user.displayName }}")
      esn-avatar(user-id="delegation.user.id", user-email="delegation.user.preferredEmail")
    .user-name
      a(ng-href="mailto:{{::delegation.user.preferredEmail}}" op-inbox-compose op-inbox-compose-users="[delegation.user]") {{ delegation.user.displayName }}
  .select-delegation
    md-select(ng-model='delegation.selection', md-container-class="cal-delegation-type-dropdown", md-on-open="$ctrl.changeBackdropZIndex()", aria-label="selected user delegation type")
      md-option(ng-repeat="delegationType in ::$ctrl.delegationTypes" ng-value="delegationType.value") {{ delegationType.name | translate }}
  .delegation-actions
    button.btn.btn-link.btn-icon(ng-click='$ctrl.removeUserGroup(delegation)')
      i.mdi.mdi-close
