button.btn.btn-link.btn-icon.waves-notransition.hidden-xs(ng-click="ctrl.toggleDisplay()", title="{{ 'Show planning' | translate }}")
  i.mdi.mdi-view-list
button.btn.btn-link.btn-icon.waves-notransition.hidden-md(title="{{ 'Show planning' | translate }}", contextual-sidebar, data-content-template="/calendar/app/planning/aside/calendar-planning-for-aside.html", data-placement="right")
  i.mdi.mdi-view-list