.cal-mail-to-attendees
  button.btn.btn-link.btn-icon(
    ng-if="ctrl.emailAddressesFromAttendees",
    ng-href="mailto:{{ctrl.emailAddressesFromAttendees}}",
    op-inbox-compose
  )
    md-tooltip(md-direction="bottom", md-z-index="10000")
      span {{ 'Mail to attendees' | translate }}
    i.mdi.mdi-email
