.modal.event-freebusy-confirmation
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss="modal", aria-label="Cancel", ng-click="ctrl.cancel(); $hide()")
          span(aria-hidden="true") &times;
        h4.modal-title {{ 'Some attendees are not available' | translate }}
      .modal-body
        span {{ 'You can edit the event to find a better date, or send it like this.' | translate }}
      .modal-footer
        button.btn.btn-link(type="button", ng-click="ctrl.cancel(); $hide()") {{ 'Cancel' | translate }}
        .btn-group.send-edit
          button.btn.btn-primary(type="button", ng-click="ctrl.submit(); $hide()") {{ 'Send' | translate }}
          .btn-group.dropdown(ng-if="ctrl.displayEdit")
            button.btn.btn-primary.dropdown-toggle(type="button" data-toggle='dropdown', aria-expanded='true')
              span.caret
            ul.dropdown-menu.dropdown-menu-right(role="menu")
              li
                a(href="" ng-click="ctrl.edit(); $hide()") {{ 'Edit' | translate }}