.modal.secret-address-confirmation
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h4.modal-title {{ 'Get a new secret address?' | translate }}
      .modal-body
        span {{ 'This will make the current secret address invalid (if any). Are you sure want to generate a new secret address?' | translate }}
      .modal-footer
        button.btn.btn-default(type="button", ng-click="$hide()") {{ 'Cancel' | translate }}
        button.btn.btn-primary(type="button", ng-click="ctrl.delete(); $hide()") {{ 'Accept' | translate }}
