li
  esn-resource-update-modal(type="ctrl.resource.type", resource="ctrl.resource")
    a(href="") {{ 'Update' | translate }}
li
  a(href="", esn-modal-launcher="/linagora.esn.resource/app/delete/resource-delete.html") {{ 'Remove' | translate }}
