a.lv-item(href="",
          esn-modal-launcher='/calendar/app/calendar-shared-configuration/calendar-shared-configuration.html',
          controller-as='$ctrl',
          controller='CalCalendarSharedConfigurationController')
  li {{ 'Add shared calendars' | translate }}