.cal-calendar-shared-configuration-item
  .meta
    esn-avatar.attendee-avatar(ng-if="$ctrl.item.user.objectType !== 'resource'", user-id="$ctrl.item.user.id")
    cal-resource-avatar.attendee-avatar(ng-if="$ctrl.item.user.objectType === 'resource'", resource='$ctrl.item.user')
    .title
      .name
        span {{::$ctrl.item.calendar.name}}
      .owner
        span.ellipsis(ng-if="$ctrl.item.user.objectType !== 'resource'") {{::$ctrl.item.user.displayName}}
        span.ellipsis(ng-if="$ctrl.item.user.objectType === 'resource'") {{::$ctrl.item.user.description}}
  .rights
    cal-shared-rights-display(ng-if="$ctrl.item.type === 'public'", public="$ctrl.item.calendar.rights.getPublicRight()")
    cal-shared-rights-display(ng-if="$ctrl.item.type === 'delegation'", delegation="$ctrl.item.calendar.rights.getShareeRight($ctrl.user.id)")
  .color
    .form-group
      .color-picker-container(calendar-color-picker-toggler, color="$ctrl.item.calendar.color")
        // .select > .form-control is mandatory here for the select-like behavior
        // of material-admin
        .select
          .form-control
        i.color-picker-value(ng-style="{'background-color': $ctrl.item.calendar.color}")
  .actions
    toggle-switch(ng-model='$ctrl.item.isSelected')
