.calendar-sidebar-title
  .text
    span {{ 'Calendar' | translate }}
  .actions.hidden-xs
    li.dropdown
      a(href='', data-toggle='dropdown', aria-expanded='true', title="{{ 'Add a new calendar' | translate }}")
        i.mdi.mdi-plus
      ul.dropdown-menu.dropdown-menu-right(dynamic-directive='calendar-add-anchorpoint')
        li
          a(ui-sref='calendar.main.add') {{ 'New calendar' | translate }}
        li
          a(feature-flag="linagora.esn.calendar.features.isSharingCalendarEnabled", href="", esn-modal-launcher='/calendar/app/calendar-shared-configuration/calendar-shared-configuration.html', controller-as='$ctrl', controller='CalCalendarSharedConfigurationController') {{ 'Shared calendar' | translate }}
        li
          a(href="", esn-modal-launcher='/calendar/app/settings/import/calendar-import.html', controller-as='$ctrl', controller='CalCalendarImportController') {{ 'Import' | translate }}